body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:50px;
  width:70px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:50px;
  width:100px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:130px;
  width:180px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u5 {
  position:absolute;
  left:10px;
  top:150px;
  width:70px;
  height:70px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:150px;
  width:100px;
  height:70px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:230px;
  width:180px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u10 {
  position:absolute;
  left:10px;
  top:250px;
  width:70px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:250px;
  width:100px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:330px;
  width:180px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u15 {
  position:absolute;
  left:10px;
  top:350px;
  width:70px;
  height:70px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:90px;
  top:350px;
  width:100px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:56px;
  top:12px;
  width:89px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
