body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u1 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:20px;
  width:199px;
  height:20px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u3 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:20px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u5 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:20px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u7 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:80px;
  width:199px;
  height:20px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u9 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:100px;
  width:199px;
  height:20px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u11 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:120px;
  width:199px;
  height:20px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u13 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:140px;
  width:199px;
  height:20px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u15 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:160px;
  width:199px;
  height:20px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u17 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:180px;
  width:199px;
  height:20px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u19 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:200px;
  width:199px;
  height:20px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u21 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:220px;
  width:199px;
  height:20px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u23 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:240px;
  width:199px;
  height:20px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u25 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:260px;
  width:199px;
  height:20px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u27 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:280px;
  width:199px;
  height:20px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u29 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:300px;
  width:199px;
  height:20px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u31 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:320px;
  width:199px;
  height:20px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u33 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:340px;
  width:199px;
  height:20px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u35 {
  position:absolute;
  left:10px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
